<div class="miolo">
  <!-- BEGIN MENSAGEM -->
  <span class="msg">{MSG}</span>
  <!-- END MENSAGEM -->

  <h3>Últimas Notícias</h3>

  <!-- BEGIN NOTICIAS -->

  <div class="containerBoxNoticiaHome">
    <!-- BEGIN DADOS -->
    <div class="boxNoticiaHome">
      <div class="imgNoticiaHome"></div>
      <div class="infoBoxNoticiaHome">
        <h4>{TITULO}</h4>
        <!-- <p>{CONTEUDO} {ID_NOTICIA}</p> -->
      </div>
    </div>
    <!-- END DADOS -->
  </div>
  <!-- END NOTICIAS -->

  <!-- BEGIN SEM_NOTICIAS -->
  <P>Não existem notícias cadastradas!</P>
  <!-- END SEM_NOTICIAS -->
</div>