<div class="miolo">
  <!-- BEGIN MENSAGEM -->
  <span class="msg">{MSG}</span>
  <!-- END MENSAGEM -->

  <h3>Últimas Notícias</h3>

  <!-- BEGIN NOTICIAS -->

  <div class="containerBoxNoticiaHome">
    <!-- BEGIN DADOS -->
    <div class="boxNoticiaHome">
      <!-- <a href="#{ID_NOTICIA}"> -->
      <div class="infoBoxNoticiaHome">
        <h4>{TITULO}</h4>
        <p>{CONTEUDO}</p>
      </div>
      <!-- </a> -->
    </div>
    <!-- END DADOS -->
  </div>
  <!-- END NOTICIAS -->

  <!-- BEGIN SEM_NOTICIAS -->
  <P>Não existem notícias cadastradas!</P>
  <!-- END SEM_NOTICIAS -->
</div>