{TOPO}

<div class="miolo">
  <h3>Fale Conosco</h3>
  <div class="containerContato">
    <div class="form_contato">
      <form action="#" method="post">

        <div class="form_input">
          <input type="text" name="nome" id="nome" required autocomplete="off" placeholder="Nome">

          <input type="email" name="email" id="email" required autocomplete="off" placeholder="Email">

          <input type="text" name="assunto" id="assunto" required autocomplete="off" placeholder="Assunto">

          <!-- <label for="arquivo">Enviar arquivo</label>
            <input type="file" name="arquivo" id="arquivo"> -->
        </div>

        <div class="form_mensagem">
          <textarea name="mensagem" id="mensagem" cols="80" rows="15" required autocomplete="off" placeholder="Mensagem"></textarea>

          <input type="submit" value="Enviar">
        </div>

      </form>
    </div>
  </div>
</div>

{RODAPE}