{TOPO}

<div class="miolo">
  <h3>Notícias</h3>

  <!-- BEGIN NOTICIAS -->
  <div class="containerBoxNoticiaNews">
    <!-- BEGIN DADOS -->
    <div class="boxNoticiaNews" id="{ID_NOTICIA}">
      <div class="infoBoxNoticiaNews">
        <h4>{TITULO}</h4>
        <p>{CONTEUDO}</p>
      </div>
    </div>
    <!-- END DADOS -->
  </div>

  <!-- BEGIN PAGINACAO -->
  <div class="paginacao">
    <!-- BEGIN VOLTAR -->
    <p><a href="/clubes-brasil-2/system/news.php?pagina={PG_PRIMEIRA}">Primeira</a></p>
    <p><a href="/clubes-brasil-2/system/news.php?pagina={PG_ANTERIOR}">{PG_ANTERIOR}</a></p>
    <!-- END VOLTAR -->
    
    <p class="pg_atual">{PG_ATUAL}</p>
    
    <!-- BEGIN AVANCAR -->
    <p><a href="/clubes-brasil-2/system/news.php?pagina={PG_PROXIMA}">{PG_PROXIMA}</a></p>
    <p><a href="/clubes-brasil-2/system/news.php?pagina={PG_ULTIMA}">Última</a></p>
    <!-- END AVANCAR -->
  </div>

  <!-- END PAGINACAO -->

  <!-- END NOTICIAS -->

  <!-- BEGIN SEM_NOTICIAS -->
  <P>Não existem notícias cadastradas!</P>
  <!-- END SEM_NOTICIAS -->
</div>

{RODAPE}