{TOPO}

<!-- BEGIN MENSAGEM -->
<span class="msg">{MSG}</span>
<!-- END MENSAGEM -->

<div class="miolo">

  <div class="admin">
    <div class="admin_news_user">
      <span>Gerenciamento de Notícias</span>
      <a href="http://localhost/clubes-brasil-2/management/news-management/insert_news_management.php">Cadastrar Notícia</a>

      <a href="http://localhost/clubes-brasil-2/management/news-management/list_edit_news_management.php">Editar Notícia</a>
    </div>

    <!-- BEGIN ADM_MASTER -->
    <div class="admin_news_user">
      <span>Gerenciamento de Usuários</span>
      <a href='http://localhost/clubes-brasil-2/management/user-management/insert_login_management.php'>Cadastrar Usuário</a>

      <a href='http://localhost/clubes-brasil-2/management/user-management/login_management.php'>Editar Usuário</a>
    </div>

    <!-- END ADM_MASTER -->
  </div>
</div>


{RODAPE}