{TOPO}

<!-- BEGIN MENSAGEM -->
<span class="msg">{MSG}</span>
<!-- END MENSAGEM -->

<div class="miolo">
  <div class="containerAtualizarPerfil">
    <div class="atualizarSenha">
      <h3>Alterar senha</h3>
      <div class="formCadastrarUsuario">
        <form action="/clubes-brasil-2/sql/user-sql/update_perfil_password.php" method="post">
          <input type="hidden" name="id" value="{EDITAR_PERFIL}">

          <label>Insira a senha atual: </label>
          <input type="password" name="senha" id="senha" placeholder="Senha atual" required>

          <label>Insira a nova senha: </label>
          <input type="password" name="nova_senha" id="nova_senha" placeholder="Nova Senha" required>

          <label>Confirmar nova senha: </label>
          <input type="password" name="confirmar_nova_senha" id="confirmar_nova_senha" placeholder="Confirmar nova senha" required>

          <input type="submit" value="Alterar" required>
        </form>
      </div>
    </div>
  </div>
</div>

{RODAPE}